.page{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: 80%;
    margin: 0 5%;
}
.form{
    padding-top: 20%;
    display: flex;
    flex-wrap: wrap;
}

.add_service{
    display: flex;
    flex-wrap: wrap;
    margin : 5% 0 5% 0;
    padding: 0 5%;
    /* border: red 1px solid; */
    width: 100%;
}

label{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 80%;
    font-size: 1.17rem;
    margin-bottom: 5%;
    padding: 0 30% 0 0;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
    /* border: gray 0.5px solid; */
    border-radius: 8px;
    line-height: 170%;
}

.select2-selection{
    border : white 0.5px solid;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 95%;
}

#id_register_date{
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.add_item{
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 95%;
    height: 40px;
}

.btn_submit{
    display: flex;
    font-size: 1.17rem;
    margin-top: 10%;
    width: 80%;
}
