.main_banner {
    height: auto;
    width: 100%;
    object-fit: contain;
    background-color: white;
    padding: 30px 0px;
    margin-top: 100px;
    /* border: blue 0.5px solid; */
}

.banner_img{
    width: 100%;
    height: auto;
    object-fit: fill;
}

.slider img{
    margin:15px;
    /* height: 95%; */
    width:95%;
    border-radius:5px;    
    position: absolute;
}

.slider img.show{
    opacity:1;
    left: 0px;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;

}

.slider img.hide{
    left: -1000px;
    opacity: 0;
    -webkit-transition:all 1.0s ease-in-out;
    -moz-transition:all 1.0s ease-in-out;
    -o-transition:all 1.0s ease-in-out;
    transition:all 1.0s ease-in-out;
}