:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 161, 27);
}

.top {
  position: absolute;
  top: 0;
  text-align: center;
}

#bannerlogo {
  height: auto;
  width: 15%;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profileimg {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: gray 0.5px solid; */
}

.wholeprofile {
  margin-top: 25%;
  margin-bottom: 10%;
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  /* border: gray 0.5px solid; */
}

.profileimgbox {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.editting {
  display: flex;
  width: 50%;
  height: 10rem;
  justify-content: center;
  align-items: center;
}

.main_banner {
  width: 100%;
  line-height: 300%;
  /* border: gray 0.5px solid; */
}

.edittinguserbox {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2rem;
  /* border: gray 0.5px solid; */
}

.gearbaby {
  width: 10%;
  margin-left: 5%;
  /* border: gray 0.5px solid; */
}

.edittinguser {
  display: flex;
  /* border: gray 0.5px solid; */
  height: 2rem;
  align-content: center;
  align-items: center;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  margin: 0 8% 20% 8%;
  /* background-color: antiquewhite; */
}

.cate{
  flex-direction: row;
  margin-bottom: 10%; 
}

.title{
  width:100%;
  margin-bottom: 5%;
}

.cate_list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
  /* border: 1px red solid; */
}

.my_cate{
  display: flex;
  width: 20%;
  height: 40px;
  margin-right: 5%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: 8px;

  /* border: 1px red solid; */
}

.service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 8rem;
  margin-bottom: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: gray 0.5px solid; */
  border-radius: 8px;
  line-height: 170%;
}

.wcafe_icon {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.service_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 93.75%;
  /* border: gray 0.5px solid; */
}

.service_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 93.75%;
  /* border: gray 0.5px solid; */
}
.heartbox {
  width: 10%;
  height: 93.75%;
}
.heartbaby {
  width: 80%;
}

.zzimlist {
  /* border: gray 0.5px solid; */
}

.myzzim {
  margin-bottom: 7%;
  /* border: gray 0.5px solid; */
}
#serviceall,
#home,
#mypage {
  width: 30px;
  height: auto;
}

.usernamecolor {
  color: rgb(249, 161, 27);
}

.wholemoneycolor {
  color: rgb(249, 161, 27);
}

.gugubanner {
  color: white;
}
