:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.gugubanner {
  color: white;
}

.top {
  position: fixed;
  top: 0;
  text-align: center;
  background-color: rgb(249, 161, 27);
  /* font-style: italic; */
}

#bannerlogo {
  height: auto;
  width: 15%;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-top: 1px solid lightgray;
  height: 60px;
}

.main_banner {
  margin-top: 35%;
  margin-bottom: 15%;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  line-height: 150%;
  font-size: 2rem;
}

.logout {
  margin: 5% 5% 5% 75%;
}

.tuto {
  text-align: center;
}

.tutorial {
  /* color: rgba(0, 0, 0, 0.616); */
  color: black;
}

.service {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; */
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.13), 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
  background-color: whitesmoke;
  line-height: 170%;
  padding: 2.5% 3%;
}

.change {
  background-color: var(--gugu-orange);
  opacity: 0.9;
  color: white;
}

/* .service_box:hover, */
.new_service:hover,
.appear_button:hover,
.menu:hover {
  filter: brightness(70%);
}

.up {
  display: none;
}

.down {
  display: inline;
}

.hide {
  display: none;
}

.appear {
  display: inline;
}

.arrows {
  margin-top: auto;
  margin-left: 5%;
}

/* .appear {
  display: inline;
} */

.arrow {
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 white);
  filter: opacity(0.3) drop-shadow(0 0 0 white);
}

.edit_hide,
.hide_button {
  display: none;
}

.edit_appear {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0% 0% 5% 0%;
}

.appear_button {
  margin: 0% 1%;
  padding: 2% 2%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* width: 50%; */
  height: 2rem;
  /* background-color: whitesmoke; */
  border-radius: 8px;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  font-size: 0.7rem;
  font-weight: 500;
  /* border: var(--gugu-gray) 1px solid; */
}

.new_service {
  display: flex;
  width: 100%;
  height: 3.5rem;
  /* border: gray 0.5px solid; */
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 8px;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  font-weight: 500;
}

#serviceall,
#mypage,
#home {
  width: 27px;
  height: auto;
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 white);
  filter: opacity(0.3) drop-shadow(0 0 0 white);
}

#home {
  -webkit-filter: opacity(0.6) drop-shadow(0 0 0 #808080);
  filter: opacity(0.6) drop-shadow(0 0 0 #808080);
}

.icons {
  width: 20%;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 400;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: gray;
}

#melon {
  background-color: rgb(0, 205, 60);
}

#Netflix {
  background-color: rgb(229, 0, 20);
}

.usernamecolor {
  color: rgb(249, 161, 27);
}

.wholemoneycolor {
  color: rgb(249, 161, 27);
}

.menu {
  width: 1.6rem;
  height: auto;
}

.menu:hover {
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 #f9a11b);
  filter: opacity(0.3) drop-shadow(0 0 0 #f9a11b);
}
