:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 161, 27);
}

.top {
  position: fixed;
  top: 0;
  text-align: center;
}

#bannerlogo {
  height: auto;
  width: 15%;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main_banner {
  margin-top: 35%;
  margin-bottom: 10%;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  line-height: 250%;
}

.logout {
  margin: 5% 5% 5% 75%;
}

.service {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center; */
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 5rem;
  margin-bottom: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: gray 0.5px solid; */
  border-radius: 8px;
  color: white;
  line-height: 170%;
}

/* .service_box:hover, */
.new_service:hover,
.appear_button:hover {
  filter: brightness(70%);
}

.edit_hide,
.hide_button {
  display: none;
}

.edit_appear {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0% 0% 5% 0%;
}

.appear_button {
  margin: 0% 1%;
  padding: 2% 2%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* width: 50%; */
  height: 2rem;
  background-color: lightgray;
  border-radius: 8px;
  color: var(--gugu-gray);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.new_service {
  display: flex;
  width: 100%;
  height: 3.5rem;
  /* border: gray 0.5px solid; */
  justify-content: center;
  align-items: center;
  background-color: gray;
  border-radius: 8px;
  color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#serviceall,
#home,
#mypage {
  width: 30px;
  height: auto;
}

#melon {
  background-color: rgb(0, 205, 60);
}

#Netflix {
  background-color: rgb(229, 0, 20);
}

.usernamecolor {
  color: rgb(249, 161, 27);
}

.wholemoneycolor {
  color: rgb(249, 161, 27);
}
