.main_banner_txt {
  margin-top: 33%;
  margin-bottom: 10%;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  line-height: 300%;
}

.usernamecolor {
  color: rgb(249, 161, 27);
}

.wholemoneycolor {
  color: rgb(249, 161, 27);
}