.main_banner_txt {
  margin-top: 40%;
  margin-bottom: 10%;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  line-height: 150%;
  font-size: 2rem;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.service_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 8rem;
  margin-bottom: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  /* border: gray 0.5px solid; */
  border-radius: 8px;
  line-height: 170%;
}

.wcafe_icon {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

/* .service_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 93.75%;
  border: gray 0.5px solid;
}
.service_detail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 93.75%;
  border: gray 0.5px solid;
} */

#serviceall,
#home,
#mypage {
  width: 30px;
  height: auto;
}

.usernamecolor {
  color: rgb(249, 161, 27);
}

.gugubanner {
  color: white;
}

.wholemoneycolor {
  color: rgb(249, 161, 27);
}
