:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.profileimg {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  /* border: gray 0.5px solid; */
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
  margin-bottom: 100px;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.detail_box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 10rem;
  margin-bottom: 7%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  /* border: gray 0.5px solid; */
  /* border-radius: 8px; */
  line-height: 170%;
  border-bottom: lightgray 0.5px solid;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  margin-bottom: 120px;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: antiquewhite; */
}

.wcafe_icon {
  width: 80%;
  object-fit: cover;
  border-radius: 50%;
}

.service_banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 93.75%;
  margin: 0 5% 0 3%;
  /* border: gray 0.5px solid; */
}

.service_detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 67%;
  color: black;
  
  /* border: gray 0.5px solid; */
}

.detail_txt {
  display: flex;
  width: 100%;
  margin: 2% 0;
  /* font-weight: 500; */
  /* color: var(--gugu-gray); */
  /* border: 1px red solid; */
}

.service_name{
  font-weight: 550;
}

.heartbaby {
  width: 80%;
}

.zzim {
  display: flex;
  padding: 10% 0%;
  height: 100%;
  font-size: 1.5rem;
  align-items: flex-end;
}

.zzimlist {
  justify-content: center;
}

.myzzim {
  margin-bottom: 7%;
  /* border: gray 0.5px solid; */
}

#serviceall,
#home,
#mypage {
  width: 30px;
  height: auto;
}

.new_service {
  display: flex;
  width: 100%;
  height: 3.5rem;
  /* border: gray 0.5px solid; */
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px;
  color: gray;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wholeservicebox {
  display: flex;
  width: 100%;
  flex-direction: column;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  /* border: gray 0.5px solid; */
  border-radius: 8px;
  line-height: 170%;

}

.adment {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5% 2% 5%;
  word-break: keep-all;
  /* border: gray 0.5px solid; */
  margin-bottom: 5%;
  border-bottom: lightgray 0.5px solid;
}

.linktoservice {
  margin-top: 3%;
  width: 100%;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--gugu-orange);
  /* border: gray 0.5px solid; */
}

.isZzimed_btn {
  display: flex;
  width: 80%;
  margin: 3% 10% 0 10%;
  color: white;
}

.add_btn {
  display: flex;
  width: 70%;
  /* margin: 3% 10% 0 10%; */
  margin: auto;
  height: 2.5rem;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.13), 1px 1px 2px rgba(0, 0, 0, 0.1);
}

#isZzimed,
#isGuDoged {
  text-align: center;
  margin: 5%;
  color: var(--gugu-orange);
  font-weight: 500;
}

.logo{
  object-fit: contain; 
  width: 70%;
  border-radius: 30%;
}

.zzim_users_count{
  width: 100%;
}

.no_border{
  border: none;
  margin-bottom: 0;
}

.selected{
  color: palevioletred;
}

.hide{
  display: none;
}