* {
  margin: 0;
  padding: 0;
}

/* 메인컬러입니다 */
:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

/* @media (max-width: 600px) {
} */

#loading {
  z-index: 100;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 50% 10%;
}
#loading img {
  width: 100%;
}

.wholebox {
  /* z-index: 100; */
  margin: 30% auto;
  text-align: center;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  max-width: 100%;
  height: auto;
}

.input {
  margin: 10% 10%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#signup:hover {
  background-color: var(--gugu-orange);
  color: white;
}
#signup {
  border-radius: 5px;
  border: 1px solid var(--gugu-orange);
  height: 35px;
  width: 100%;
  margin: 5px 0px;
  background-color: white;
  color: var(--gugu-orange);
}

.socialogin {
  display: flex;
  padding: 5% 0%;
  justify-content: space-between;
}

.form-control {
  margin: 5px;
}

#kakao,
#naver {
  width: 45%;
  height: auto;
  /* object-fit: cover; */
  margin: 0 5px;
}

@media (min-width: 700px) {
  #loading img {
    width: 50%;
    height: auto;
  }

  .wholebox {
    /* z-index: 100; */
    margin: 15% auto;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    height: auto;
  }

  #loading {
    z-index: 100;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10% 10% 20% 10%;
  }

  .socialogin {
    z-index: 0;
  }
}
