body, button, input[type=button], input[type=submit], input[type=reset] {
    font-family: 'Noto Sans KR', sans-serif;
}

.white-body {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 0 0 30px 0;
}

label {
    display: block;
    position: relative;
    padding: 10px 0 10px 40px;
}

input[type='radio'] {
    -webkit-appearance: none;
    opacity: 1;
}

input[type='radio']::before {
    -webkit-appearance: none;
    opacity: 1;
}

input[type="radio" i] {
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid #707070;
    box-sizing: border-box;
    opacity: 1;
    transition: 0.3s;
}

input[type="radio" i]:checked::before {
    position: absolute;
    display: block;
    content: '';
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 100%;
    background: #303ba2;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

input[type="radio" i]:checked::after {
    position: absolute;
    display: block;
    content: '';
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 100%;
    background: #303ba2;
    opacity: 1;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

button.previous {
    float: left;
}

button.next {
    float: right
}

button {
    display: block;
    width: 45%;
    max-width: 300px;
    height: 50px;
    border-radius: 50px;
    background: #fff;
    color: #303ba2;
    border: none;
    font-size: 20px;
}

table {
    width: 100%;
    height: 100%;
}

tbody {
    background: #303ba2;
}

tr td {
    margin: 0 auto;
}

button.next:active {
    color: red;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    opacity: 1;
}

input[type='checkbox']::before {
    -webkit-appearance: none;
    opacity: 1;
}

input[type="checkbox" i] {
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #707070;
    box-sizing: border-box;
}

input[type="checkbox" i]::before {
    position: absolute;
    display: block;
    content: '';
    left: 3px;
    top: 3px;
    right: 3px;
    bottom: 3px;
    border-radius: 3px;
    background: #303ba2;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

input[type="checkbox" i]:checked::before, input[type="checkbox" i]:checked::after {
    opacity: 1;
}