{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THM5VTC');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'hot.css' %}?v=0.1" />
    <link rel="stylesheet" type="text/css" href="{% static 'service_all.css' %}" />
    <link rel="shortcut icon" type="image⁄x-icon" href="{% static 'logo_dog.png' %}"/>
    <style type="text/css">
      a:link { color: none; text-decoration: none;}
      a:visited { color: none; text-decoration: none;}
      a:hover { color: none; text-decoration: none;}
      body {
        font-weight: 300;
        font-family: "NanumSquare", sans-serif;
        background-color: whitesmoke;
      }
    </style>
    <title>구구독</title>
</head>
<body>
    <div class="banner top">
      <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </div>
    
    <div class="category">
      <div class="category_btn"><a href="{% url 'service_all'%}"><h5>전체</h5></a><div class="btn_default"></div></div>
      <div class="category_btn"><a href="{% url 'hot'%}"><h5>HOT</h5></a><div id="line" class="btn_chosen"></div></div>
      <div class="category_btn"><a href="{% url 'service_new'%}"><h5>NEW</h5></a><div id="line" class="btn_default"></div></div>
      <div class="category_btn"><a href="{% url 'tag'%}"><h5>태그별</h5></a><div id="line" class="btn_default"></div></div>
      <div class="category_btn"><a href="{% url 'recommendation'%}"><h5>My추천</h5></a><div id="line" class="btn_default"></div></div>
    </div>

    <div class="main_banner_txt">
      <p><b><a class="usernamecolor">{{user}}&nbsp</a></b>회원님에게<br>
      추천하는<br>
      <b><a class="wholemoneycolor">8월</a></b>의 인기 서비스</p>
    </div>

    <div class="service">
      <!-- 모든 등록된 service를 불러와서 회사명과 서비스명을 보여줍니다 -->
      {% for service in services %}
  
      <a href="{% url 'service_detail' service.pk %}">
  
        <div class="service_box">
          <div class="service_banner">
            <img
              class="banner_img circle"
              style="object-fit: contain; padding: 5px;"
              src="{{ service.image_url }}"
            />
          </div>
          <div class="service_detail">
            <div class="description title">
              {{ service.company }}
            </div>
            <div class="description content">
              {{ service.service_name }}
              <br />
              {{ service.description }}
            </div>
            <div class="description price">월 {{ service.get_price }}원</div>
            <!-- 구독자 수 나타내는 코드입니다. 하트로 수정 - 0명이면 안보이고, 1명 이상부터 채워진 하트가 보이게 -->
            <div class="description">{{ service.get_gudog_users }}명이 구독중</div>
          </div>
        </div>
      </a>

      {% endfor %}
      <div class="banner bottom">
          <div class="icons">
            <a href="{% url 'service_all'%}"><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
              <p>스토어</p>
            </a>
          </div>
          <div class="icons">
            <a href="{% url 'home'%}"><img id="home" src="{% static 'bottom_home_3.png' %}"/>
              <p>홈</p>
            </a>
          </div>
          <div class="icons">
              <a href="{% url 'mypage'%}"><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
              <p>마이페이지</p>
              </a>   
          </div>
        </div>
    </body>

</html>