{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-THM5VTC');</script>
    <!-- End Google Tag Manager -->
  
  <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- css 버전 수정해가면서 사용하세요. -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'mypage.css' %}?v=0.1"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    
 
    
    <style type="text/css">
      a:link {
        color: none;
        text-decoration: none;
      }
      a:visited {
        color: none;
        text-decoration: none;
      }
      a:hover {
        color: none;
        text-decoration: none;
      }
      body {
        font-weight: 300;
        font-family: "NanumSquare", sans-serif;
        background-color: whitesmoke;
      }
      .tag-btn {
        color: rgb(82, 97, 106);
      }
    </style>

    <title>구구독</title>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-THM5VTC"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <div class="banner top">  
       <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </a></div>
  
    <div class="wholeprofile">
      <div class="profileimgbox">
        <input type="checkbox" id="chk" />
        <label for="chk" class="show-menu-btn label_box">
        <img class="profileimg" src="{% static 'logo_circle.png' %}" />
        </label>
        <ul class="menu">
            <a href="{% url 'about' %}">ABOUT 구구독</a>
            <label for="chk" class="hide-menu-btn">
              <i class="fas fa-times"></i>
              <!-- X -->
            </label>
        </ul>
      </div>
      <div class="editting">
        <div class="main_banner">
          {% if user.first_name %}
          <p>
            <a class="usernamecolor"><b>{{user.last_name}}{{user.first_name}}&nbsp</b></a>회원님<br />
            안녕하세요!
          </p>
          <div class="edittinguserbox">
              <div class="edittinguser">
                  <a href="{% url 'logout' %}">로그아웃</a>
              </div>
          </div>    
          {% else %}
          <p>
            <a class="usernamecolor"><b>{{user}}&nbsp</b></a>회원님<br />
            안녕하세요!
          </p>
          <div class="edittinguserbox">
              <div class="edittinguser">
                  <a href="{% url 'logout' %}"><p>로그아웃</p></a>
              </div>
          </div>    
          {% endif %}
        </div>
      </div>
    </div>

    <div class="service cate">
      <div class="cate_title">
        <div class="title"><p>나의 카테고리</p></div>
          <a href="{% url 'test' %}"><div class="wheel">         
              <i class="fas fa-cog"></i></div></a>       
      </div>
      <div class="cate_list">
        {% for i in interests %} {% if i %}
        <div class="my_cate">
        <form method='POST' action='{% url "tag" %}'>{% csrf_token %}
          <p><b><input type='submit' class='tag-btn' name="tag_checked" value="{{ i.interest_cate.name }}"></b></p>
        </div>
        </form>
        {% endif %} {% endfor %}
      </div>
    </div>

    

    <div class="service">
      <div class="title">
        <p>찜 목록</p>
      </div>
      {% if zzim %}
        {% for zzim_service in zzim %}
          {% if zzim_service %}
          <div class="service_box">
            <div class="service_banner">
              <img class="banner_img circle" src="{{ zzim_service.service.image_url }}" />
            </div>
            <div class="service_detail">
              <div class="description title">
                 {{ zzim_service.service.company }}
              </div>
              <div class="description content">
                 {{ zzim_service.service.service_name }} 
                 <br />
                 {{ zzim_service.service.description }}
              </div>  
            </div>
            
        </div>
                
          {% endif %}
        {% endfor %}
      {% endif %}
    </div>
    <div class="banner bottom">
      <div class="icons">
        <a href="{% url 'service_all'%}"
          ><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
          <p>스토어</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'home'%}"
          ><img id="home" src="{% static 'bottom_home_3.png' %}" />
          <p>홈</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'mypage'%}"
          ><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
          <p>마이페이지</p>
        </a>
      </div>
  </body>
</html>
