{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145178223-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145178223-1');
</script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- css 버전 수정해가면서 사용하세요. -->
    <link rel="stylesheet" type="text/css" href="{% static 'mypage.css' %}?v=0.1" />

    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <style type="text/css">
     a:link { color: none; text-decoration: none;}
     a:visited { color: none; text-decoration: none;}
     a:hover { color: none; text-decoration: none;}
    </style>

    <title>gugudog</title>
  </head>
  <body>

    <div class="banner top">  
       <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </a></div>

    <div class="wholeprofile">
        <div class="profileimgbox">
        <img class ="profileimg" src="{% static 'logo_circle.png' %}">
        </div>
        
        <div class="editting">
          <div class="main_banner">
            <h2> <a class="usernamecolor">{{user}}&nbsp</a>회원님<br> 안녕하세요!</h2>
            <div class="edittinguserbox">
              <div class ="edittinguser">내 정보 수정하기</div>
              <img class="gearbaby" src="{% static '70367.png' %}"/>
            </div>
          </div>
        </div>
      </div>
     
    <div class="service">
      <div class="zzimlist">
        <div class="myzzim"><h3>나의 찜 목록따리</h3></div>
      
        <div class="service_box">
            <div class="service_banner">
              <img class="wcafe_icon" src="{% static 'detail_banner_wcafe.jpg' %}" />
            </div>
            <div class="service_detail">
                <h3>3시간마다<br>
                리필되는<br>
                커피 한 잔<br></h3>   
            </div>
            <div class="heartbox">
            <img class =" heartbaby"src="{% static '148836.png' %}"></div>
        </div>
        <div class="service_box">
            <div class="service_banner">
              <img class="wcafe_icon" src="{% static 'detail_banner_wcafe.jpg' %}" />
            </div>
            <div class="service_detail">
                <h3>3시간마다<br>
                리필되는<br>
                커피 한 잔<br></h3>
            </div>
            <div class="heartbox">
            <img class =" heartbaby"src="{% static '148836.png' %}"></div>
          </div>
      </div>
    </div>

      <div class="banner bottom">
        <div class="icons">
          <a href="{% url 'service_all'%}"><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
            <p>스토어</p>
          </a>
        </div>
        <div class="icons">
          <a href="{% url 'home'%}"><img id="home" src="{% static 'bottom_home_3.png' %}"/>
            <p>홈</p>
          </a>
        </div>
        <div class="icons">
            <a href="{% url 'mypage'%}"><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
            <p>마이페이지</p>
            </a>   
        </div>
      </div>
    </body>
</html>