{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-145178223-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-145178223-1");
  </script>
  <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"
  ></script>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- css 버전 수정해가면서 사용하세요. -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'mypage.css' %}?v=0.1"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <style type="text/css">
      a:link {
        color: none;
        text-decoration: none;
      }
      a:visited {
        color: none;
        text-decoration: none;
      }
      a:hover {
        color: none;
        text-decoration: none;
      }
      body {
        font-weight: 300;
        font-family: "NanumSquare", sans-serif;
      }
    </style>

    <title>gugudog</title>
  </head>
  <body>
    <div class="banner top">  
       <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </a></div>

    <div class="wholeprofile">
      <div class="profileimgbox">
        <img class="profileimg" src="{% static 'logo_circle.png' %}" />
      </div>
      <div class="editting">
        <div class="main_banner">
          <p>
            <a class="usernamecolor">{{ user }}&nbsp</a>회원님<br />
            안녕하세요!
          </p>
        </div>

        <div class="edittinguserbox">
          <div class="edittinguser">
            <input type="checkbox" id="chk" />
            <label for="chk" class="show-menu-btn label_box">
              <p class="show_menu_btn_a">수정하기</p>
              <!-- wheel -->
              <img class="gearbaby" src="{% static '70367.png' %}" />
            </label>

            <ul class="menu">
              <a href="{% url 'logout' %}">로그아웃</a>
              <a href="{% url 'test' %}">내 카테고리 수정하기</a>
              <a href="#">구구독 About</a>
              <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
                <!-- X -->
              </label>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="service cate">
      <div class="title"><p>나의 카테고리</p></div>
      <div class="cate_list">
        {% for i in interests %} {% if i %}
        <div class="my_cate">
          <p>{{ i.interest_cate.name }}</p>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>

    <div class="service">
      <div class="myzzim">
        <p>나의 찜 목록따리</p>
      </div>

      <div class="service_box">
        <div class="service_banner">
          <img
            class="wcafe_icon"
            src="{% static 'detail_banner_wcafe.jpg' %}"
          />
        </div>
        <div class="service_detail">
          <p>
            3시간마다<br />
            리필되는<br />
            커피 한 잔<br />
          </p>
        </div>
        <div class="heartbox">
          <img class=" heartbaby" src="{% static '148836.png' %}" />
        </div>
      </div>
    </div>

    <div class="banner bottom">
      <div class="icons">
        <a href="{% url 'service_all'%}"
          ><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
          <p>스토어</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'home'%}"
          ><img id="home" src="{% static 'bottom_home_3.png' %}" />
          <p>홈</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'mypage'%}"
          ><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
          <p>마이페이지</p>
        </a>
      </div>
    </div>
  </body>
</html>
