{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145178223-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-145178223-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- css 버전 수정해가면서 사용하세요. -->
    
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'recommendation.css' %}?v=0.1"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'service_all.css' %}?v=0.1"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />

    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <style type="text/css">
      a:link {
        color: none;
        text-decoration: none;
      }
      a:visited {
        color: none;
        text-decoration: none;
      }
      a:hover {
        color: none;
        text-decoration: none;
      }
      body {
        font-weight: 300;
        font-family: "NanumSquare", sans-serif;
      }
    </style>

    <title>gugudog</title>
  </head>
  <body>
    <div class="banner top">
      <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </div>

    <div class="category">
      <div class="category_btn">
        <a href="{% url 'service_all'%}"><h5>전체</h5></a>
        <div class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'hot'%}"><h5>HOT</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'service_new'%}"><h5>NEW</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'tag'%}"><h5>태그별</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'recommendation'%}"><h5>My추천</h5></a>
        <div id="line" class="btn_chosen"></div>
      </div>
    </div>

    <div class="main_banner_txt">
    {% if user.first_name %}
      <h1>
        <a class="usernamecolor">{{ user.first_name }}{{ user.last_name }}&nbsp</a>회원님에게<br />
        꼭 맞는&nbsp<a class="wholemoneycolor">추천서비스</a>
      </h1>
    {% else %}
      <h1>
        <a class="usernamecolor">{{ user }}&nbsp</a>회원님에게<br />
        꼭 맞는&nbsp<a class="wholemoneycolor">추천서비스</a>
      </h1>
    {% endif %}
    </div>

    <div class="service">
      {% for i in my_reco %}

      <div class="service_box">
        <div class="service_banner">
          <img
            class="banner_img circle"
            src="{{i.image}}"
          />
        </div>
        <div class="service_detail">
          <div class="description title">{{i.name}}</div>
          <div class="description content">
          <form method = 'POST' action = "{% url 'tag' %}">{% csrf_token %}
            #<input type='submit' name='tag_checked' value="{{i.category}}"></a>
          </form>
            {{i.description}} / {{ i.count_gudog_users }}명 구독중
          </div>
          <div class="description price">월 {{i.price}}원</div>
        </div>
      </div>
      {% endfor %} 
    </div>

    <div class="banner bottom">
      <div class="icons">
        <a href="{% url 'service_all'%}"
          ><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
          <p>스토어</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'home'%}"
          ><img id="home" src="{% static 'bottom_home_3.png' %}" />
          <p>홈</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'mypage'%}"
          ><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
          <p>마이페이지</p>
        </a>
      </div>
    </div>
  </body>
</html>
