{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
  <head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-145178223-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-145178223-1');
</script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- css 버전 수정해가면서 사용하세요. -->
    <link rel="stylesheet" type="text/css" href="{% static 'service_all.css' %}?v=0.1" />
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation.css' %}?v=0.1" />

    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <style type="text/css">
     a:link { color: none; text-decoration: none;}
     a:visited { color: none; text-decoration: none;}
     a:hover { color: none; text-decoration: none;}
    </style>

    <title>gugudog</title>
  </head>
  <body>

    <div class="banner top">
       <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </div>

    <div class="category">
      <div class="category_btn"><a href="{% url 'service_all'%}"><h5>전체</h5></a><div class="btn_default"></div></div>
      <div class="category_btn"><h5>HOT</h5><div id="line" class="btn_default"></div></div>
      <div class="category_btn"><h5>NEW</h5><div id="line" class="btn_default"></div></div>
      <div class="category_btn"><h5>태그별</h5><div id="line" class="btn_default"></div></div>
      <div class="category_btn"><a href="{% url 'recommendation'%}"><h5>My추천</h5></a><div id="line" class="btn_chosen"></div></div>
    </div>

    <div class="main_banner_txt">
      <h1><a class="usernamecolor">황철순&nbsp</a>회원님에게<br>
      꼭 맞는&nbsp<a class="wholemoneycolor">추천서비스</a></h1>
    </div>

    <div class="service">
      <div class="service_box">
        <div class="service_banner"><img class="banner_img circle" src="{% static 'detail_banner_wcafe.jpg' %}" /></div>
        <div class="service_detail">
          <div class="description title">W카페</div>
          <div class="description content">3시간마다 리필되는<br> 커피 한잔</div>
          <div class="description price">월 20,000원</div>
        </div>
      </div>
    </div>

    <div class="banner bottom">
        <a href="{% url 'service_all'%}"><img id="serviceall" src="{% static 'bottom_serviceall_gray.png' %}" />
        </a>

      <a href="{% url 'home'%}"
        ><img id="home" src="{% static 'bottom_home.png' %}"
      /></a>
      <a href="{% url 'mypage'%}"><img id="mypage" src="{% static 'bottom_mypage_gray.png' %}" /></a>
    </div></div>
  </body>
</html>