{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>gugudog</title>
  </head>
  <body>
    <p>{{ service.company }}</p>
    <!-- 회사명 charfield -->
    <p>{{ service.service_name }}</p>
    <!-- 서비스명 charfield -->
    <p>{{ service.price }}</p>
    <!-- 가격  integerfield -->
    <p>{{ service.link }}</p>
    <!-- 링크 charfield -->
    <p>{{ service.description }}</p>
    <!-- 설명 textfield -->
    <a href="#">찜</a>
  </body>
</html>
