{% load staticfiles %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-145178223-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-145178223-1");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script>
      src = "http://code.jquery.com/jquery-3.3.1.js";
      integrity = "sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=";
      crossorigin = "anonymous";
    </script>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'service_all.css' %}"
    />
    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css"
    />

    <style type="text/css">
      a:link {
        color: none;
        text-decoration: none;
      }
      a:visited {
        color: none;
        text-decoration: none;
      }
      a:hover {
        color: none;
        text-decoration: none;
      }
      body {
        font-weight: 300;
        font-family: "NanumSquare", sans-serif;
      }
    </style>
    <title>gugudog</title>
  </head>
  <body>
    <div class="banner top">
      <h2><a class="gugubanner" href="{% url 'home'%}">gugudog</a></h2>
    </div>

    <div class="category">
      <div class="category_btn">
        <a href="{% url 'service_all'%}"><h5>전체</h5></a>
        <div class="btn_chosen"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'hot'%}"><h5>HOT</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
          <a href="{% url 'service_new'%}"><h5>NEW</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'tag'%}"><h5>태그별</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
      <div class="category_btn">
        <a href="{% url 'recommendation'%}"><h5>My추천</h5></a>
        <div id="line" class="btn_default"></div>
      </div>
    </div>

    <div class="slider main_banner">
      <img class="banner_img hide" src="{% static 'banner_hobbyful_2.jpg' %}" />
      <img
        class="banner_img hide"
        src="{% static 'banner_opengallery.jpg' %}"
      />
      <img class="banner_img hide" src="{% static 'adbanner_kukka.png' %}" />

    </div>

    <div class="service">
      <!-- 모든 등록된 service를 불러와서 회사명과 서비스명을 보여줍니다 -->
      {% for service in services %}

      <a href="{% url 'service_detail' service.pk %}">
        <div class="service_box">
          <div class="service_banner">
            <img
              class="banner_img circle"
              style="object-fit: contain; padding: 5px;"
              src="{{ service.image_url }}"
            />
          </div>
          <div class="service_detail">
            <div class="description title">
              {{ service.company }}
            </div>
            <div class="description content">
              {{ service.service_name }}
              <br />
              {{ service.description }}
            </div>
            <div class="description price">월 {{ service.get_price }}원</div>
            <!-- 구독자 수 나타내는 코드입니다. 하트로 수정 - 0명이면 안보이고, 1명 이상부터 채워진 하트가 보이게 -->
            <div class="description">{{ service.get_gudog_users }}명이 구독중</div>
          </div>
        </div>
      </a>


      {% endfor %}
      <div class="service_box">
        <div class="service_banner">
          <img
            class="banner_img circle"
            src="{% static 'logo_kukka.jpg' %}"
          />
        </div>
        <div class="service_detail">
          <div class="description title">kukka</div>
          <div class="description content">
            꽃이 필요한 순간,<br />
            전국 꽃배달 서비스
          </div>
          <div class="description price">월 4,900원</div>
        </div>
      </div>

      <div class="service_box">
        <div class="service_banner">
          <img
            class="banner_img circle"
            src="{% static 'logo_milli.jpg' %}"
          />
        </div>
        <div class="service_detail">
          <div class="description title">밀리의 서재</div>
          <div class="description content">
            국내 최대 3만권<br />월정액 독서앱
          </div>
          <div class="description price">월 9,900원</div>
        </div>
      </div>


      <div class="service_box">
        <div class="service_banner">
          <img
            class="banner_img circle"
            src="{% static 'logo_dolobox.png' %}"
          />
        </div>
        <div class="service_detail">
          <div class="description title">DOLOBOX</div>
          <div class="description content">
            수의사가 매달 챙겨주는<br>
            강아지 용품
          </div>
          <div class="description price">월 34,900원</div>

        </div>
      </div>

    </div><!-- service end -->    

    <div class="banner bottom">
      <div class="icons">
        <a href="{% url 'service_all'%}"
          ><img id="serviceall" src="{% static 'bottom_service_2.png' %}" />
          <p>스토어</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'home'%}"
          ><img id="home" src="{% static 'bottom_home_3.png' %}" />
          <p>홈</p>
        </a>
      </div>
      <div class="icons">
        <a href="{% url 'mypage'%}"
          ><img id="mypage" src="{% static 'bottom_mypage_2.png' %}" />
          <p>마이페이지</p>
        </a>
      </div>
    </div>

    <script>
      var listPict = document.getElementsByClassName("slider")[0].children;

      var old = listPict.length - 1;
      var current = 0;

      function loop() {
        listPict[current].setAttribute("class", "show");
        listPict[old].setAttribute("class", "hide");
        console.log(listPict[current], listPict[old]);

        //Update the variables
        old = current;
        current++;

        //If the current is bigger then the list of images, return to 0
        if (current === listPict.length) current = 0;

        setTimeout(loop, 5000);
      }

      loop();
    </script>
  </body>
</html>
