:root {
    --gugu-orange: rgb(249, 161, 27);
    --gugu-gray: rgb(82, 97, 106);
    --gugu-lightorange: rgb(255, 233, 220);
  }

* {
    margin: 0;
    padding: 0;
}

.main_banner{
    height : 100px;
    width: 90%;
    background-color: var(--gugu-gray);
}