{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="http://code.jquery.com/jquery-3.3.1.js"
      integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'signup.css' %}?v=0.33" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      type="image⁄x-icon"
      href="{% static 'logo_dog.png' %}"
    />
    <title>gugudog</title>
  </head>
  {% load socialaccount %}
  {% providers_media_js %}
  <body>
    <div id="loading">
      <img src="{% static 'logo_font.png' %}" />
    </div>
    <div class="wholebox">
      <img src="{% static 'logo_gray.png' %}" width="50%" height="50%" />
      <div class="input">
        {% comment %} <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input id="signup" type="submit" value="회원가입" />
        </form> {% endcomment %}
        {% if user.is_authenticated %}
        <a href="/accounts/logout">{{user.username}} 로그아웃</a><br>
        {% endif %}
        <div class="socialogin">
          <a id='login-img' href="{% provider_login_url 'kakao' %}"><img id="kakao" src="{% static 'kakao_login.png' %}" /></a>
        </div>
        <div class="socialogin">
          <a id='login-img' href="{% provider_login_url 'naver' %}"><img id="naver" src="{% static 'naver_login.png' %}" /></a>
        </div>
        <div class="socialogin">
          <a id='login-img' href="{% provider_login_url 'naver' %}"><img id="naver" src="{% static 'naver_login.png' %}" /></a>
        </div>
      </div>
    </div>

    <script>
      function hideDiv() {
        $("#loading")
          .delay(1000)
          .fadeOut(1000);
      }
      self.setTimeout(hideDiv());
    </script>

    <!-- <a href="/accounts/signup">회원가입</a><br />
    {% if user.is_authenticated %}
    <a href="/accounts/logout">로그아웃</a><br />
    {{ user.username }}님이 로그인 중 {% else %}
    <a href="{% provider_login_url 'kakao' %}">kakao 로그인</a><br />
    <a href="{% provider_login_url 'naver' %}">naver 로그인</a><br />
    {% endif %} -->
  </body>
</html>
