{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}구구독{% endblock title %}</title>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'survey/js/jquery.min.js' %}"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'style2.css' %}" />
    <!-- <link rel="icon" href="{% static 'img/favicon.ico'%}"/>
    <link href="{% static 'survey/css/bootstrap.min.css'%}" rel="stylesheet" type="text/css"/>
	<link rel="stylesheet" type="text/css" href="{% static 'survey/css/custom.css' %}" /> -->
  </head>
  <body>
    <div class="container" id="wrap">
      {% block wrapper %} {% endblock %}
      <div class="well" id="container-main">
        {% block body %} {% endblock %}
      </div>
    </div>
    <div class="footer">
      <div class="container">
        {% block footer %}{% endblock %}
      </div>
    </div>
    <script
      type="text/javascript"
      src="{% static 'survey/js/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'survey/js/jquery-ui.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'survey/js/bootstrap.min.js' %}"
    ></script>
    {% block extrajs %} {% endblock %}
  </body>
</html>
