{% load widget_tweaks %}

<main class="survey-page">
<section class="surveys">
<table class="table table-hover">
    <!--<thead>
      <tr>
        <th> Question  </th>
        <th> Answers </th>
      </tr>
    </thead> -->
    
    <tbody>
{% for form in response_form %}
	{% if form.field.widget.attrs.category == category.name or not form.field.widget.attrs.category %}
        <tr class="{% if form.errors%} danger {% endif %}">
            <td>
                <section class="stage question carousel-item" >
                <div class="question">
                    <div class="middle-table">
                        <div class="middle-cell">
                            <header><span class="current-question">Q1</span><span class="separator">/</span><span class="total-question">Q8</span></header>
                            <h3 class="title" style="color:white">{{ form.label|safe }}</h3>
                            {% if form.field.required %}
                                <span class="glyphicon glyphicon-asterisk" style="color:red"> </span>
                            {% endif %}
                            <span class="help-inline" style="color:red">
                                <strong> {% for error in  form.errors %}{{ error }}{% endfor %} </strong>
                            </span> 
                            <div>
                            {% for field in form %}
                                {{ field }}
                            {% endfor%}
                            </div>
                            <div class="buttons">
                                <!-- <button class="previous" type="button">뒤로</button> -->
                                <button class="next" type="button">다음</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
	{% endif %}
{% endfor %}
    </tbody>
</table>
</main>
      <!-- <script src="/assets/application-2d30c9036478d230514bf8495e38139aec8cebe50bd882c02e1a7feb94395134.js" data-turbolinks-eval="false" data-turbolinks-suppress-warning="false"></script> -->

      <script type="text/javascript">
        
        var firstElement = document.querySelector("#container-main > div:nth-child(3) > form > main > section > table > tbody > tr:nth-child(1) > td > section");
        firstElement.className="stage question carousel-item active";

        var test = document.querySelector("#container-main > div:nth-child(3) > form > main > section > table > tbody > tr:nth-child(1) > td > section")
        test.className="stage question carousel-item active title";

        // input default checked 옵션 없애기
        for (let i = 0; i < document.getElementsByTagName("input").length; i++) {
            document.getElementsByTagName("input")[i].removeAttribute("checked");
        };
        //changestage
        function changeStage($from, $to) {
        if (arguments.length === 1) {
            $to = $from;
            $from = $('.stage.active');
        }

        $from.trigger('inactivated');
        $to.trigger('activated');

        var name = $to.data('stage-name');
        var carouselId = $to.data('carousel-id');

        $('.carousel').carousel(carouselId);

        var $title = $to.find('.title');
        var title = $title.text() || name;

        if (arguments.length !== 1) {
            history.pushState({
                stage: name
            }, title);
        }
    }

        // 현재문항/총문항

        var questions = document.getElementsByClassName('current-question');
        var totalQuestions = document.getElementsByClassName('total-question');

        for (let i = 0; i < questions.length; i++) {
            questions[i].innerText = `Q${i+1}`;
            totalQuestions[i].innerText = `Q${totalQuestions.length}`;
        }

        // 뒤로, 다음 버튼 눌렀을 때 테스트

        // 뒤 버튼
        var prevButton = $('.previous');
        prevButton.click(function(){
            var $stage = $(this).parents('tr')[0];
            var $prev = $stage.previousElementSibling;

            if($prev.children[0].children[0] != null)
                $stage.children[0].children[0].className ="stage question carousel-item"
            $prev.children[0].children[0].className ="stage question carousel-item active";
            var $inputs = $(this).parents('form').find('input[type=checkbox]:checked, input[type=radio]:checked');
            // checked_length = $inputs.length;
            // console.log(`input : ${$inputs.length}, checked_length: ${checked_length}`);
            slide($(this).parents('tr').index(), false);
            // console.log($stage, $next);

        })
        // 체크했는지 여부 확인 함수
        var checked_length = 0;

        function checked($inputs) {
            if ($inputs.length === 0) {
                return '한 개 이상 선택해야 합니다.';
            }
        }
        // 다음 버튼
        var nextButton = $('.next');
        nextButton.click(function(){

            console.log($(this).parents('tr').index());

            var $stage = $(this).parents('tr')[0];
            var $next = $stage.nextElementSibling;


            // var $inputs = $(this).parents('form').find('input[type=checkbox]:checked, input[type=radio]:checked');
            var $inputs = $(this).parents('div.middle-cell').find('input[type=checkbox]:checked, input[type=radio]:checked, input[type="text"], textarea');
            console.log($(this).parents('div.middle-cell').find('input[type=checkbox]:checked, input[type=radio]:checked, input[type="text"], textarea'));
            // console.log($(this).parents('form').find('input'))
            // console.log(`input : ${$inputs.length}, checked_length: ${checked_length}`);
            var error = checked($inputs);
            // checked_length = $inputs.length;/

            if (typeof error === 'string') {
                alert(error);
                return;
            } else {
                if ($next === null) {
                    console.log('end of survey');
                    document.querySelector("#container-main > div:nth-child(3) > form > input.btn.btn-default.btn-lg").click();
                } else if ($next.children[0].children[0] != null) {
                    $stage.children[0].children[0].className ="stage question carousel-item"
                    $next.children[0].children[0].className ="stage question carousel-item active";
                    slide($(this).parents('tr').index(), true);
                } 
            }
            // console.log($stage, $next);
        })

        // 슬라이드 구현
        
        const all = ele => document.querySelectorAll(ele)
        const one = ele => document.querySelector(ele)
        const slide = (pos, next) => {
            // console.log(stage, next);
            const wrap = one('tbody') // .slide 선택
            const target = wrap.children[0] // .slide ul 선택
            // console.log(wrap, target);
            const len = wrap.children.length // .slide li 갯수
            // console.log(wrap);

            // .slide ul의 너비 조정
            wrap.style.cssText = `width:calc(100% * ${len});display:flex;transition:1s`
            // .slide li의 너비 조정
            Array.from(wrap.children)
            .forEach(ele => ele.style.cssText = `width:calc(100% / ${len}); display:flex;`)
            // 화면 전환 실행
            // let pos = pos
            // setInterval(() => { 
            if(next===true) {
                pos = (pos +1) % len // 장면 선택
                wrap.style.marginLeft = `${-pos * 100}%`
            } else {
                pos = (pos-1) % len // 장면 선택
                console.log(pos);
                wrap.style.marginLeft = `${-pos * 100}%`
            }
            // }, 1500) // 1500 = 1500ms = 1.5sec. 즉, 1.5초 마다 실행 
        }
        window.onload = function () {
            // slide()
        }
        
        $(document).on('turbolinks:load', function() {
              function changeStage($from, $to) {
        if (arguments.length === 1) {
            $to = $from;
            $from = $('.stage.active');
        }

        $from.trigger('inactivated');
        $to.trigger('activated');

        var name = $to.data('stage-name');
        var carouselId = $to.data('carousel-id');

        $('.carousel').carousel(carouselId);

        var $title = $to.find('.title');
        var title = $title.text() || name;

        if (arguments.length !== 1) {
            history.pushState({
                stage: name
            }, title);
        }
    }

    var $firstStage = $('.stage.question:first-child');
    var name = $firstStage.data('stage-name');

    var $title = $firstStage.find('.title');
    var title = $title.text() || name;

    history.replaceState({
        stage: name
    }, title);

    $('.carousel').carousel({
        interval: false,
    });

    $('button.previous:not(:first)').on('click', function(){
        history.back();
    });

    $('button.previous:first').on('click', function(){
        window.location.replace("/");
    });

    $(document).off('click', '.stage .next').on('click', '.stage .next', function() {
        var $stage = $(this).parents('.stage');
        var $next = $stage.next();

        var error = $stage.triggerHandler('validate');
        if (typeof error === 'string') {
            alert(error);
            return;
        }

        changeStage($stage, $next);
    });

    $('.question').on('validate', function() {
        var $inputs = $(this).find('input[type=checkbox]:checked, input[type=radio]:checked');
        if ($inputs.length === 0) {
            return '한 개 이상 선택해야 합니다.';
        }
    });

    $(window).on('popstate', function(e) {
        var originalEvent = e.originalEvent;
        var state = originalEvent.state;
        var name = state.stage;
        if (!name) return;

        var $stage = $('.stage[data-stage-name=' + name + ']');

        changeStage($stage);
    });
    (function() {
        var stageTimer = [];
        var animationTimers = [];
        var start;
        var interval;

        var $progress = $('.stage.progress');
        var name = $progress.data('stage-name');

        var $title = $progress.find('title');
        var title = $title.text();

        var $progressText = $progress.find('.progress-text');
        var $submitStage = $('.stage.submit-stage');

        function moveNext() {
            changeStage($progress, $submitStage);
            $('.carousel').carousel('next');
        }

        function startAnimation() {
            start = Date.now();

            var $items = $progress.find('li');
            $items.each(function(i) {
                var $item = $(this);

                var timer = setTimeout(function() {
                    $item.addClass('active');
                    $item.prev().removeClass('active');
                }, i * 1000);

                animationTimers.push(timer);
            });

            interval = setInterval(updateProgress, 10);
        }

        function resetAnimation() {
            $.each(animationTimers, function() {
                clearTimeout(this);
            });

            animationTimers = [];
            clearInterval(interval);

            var $items = $progress.find('li');
            $items.removeClass('active');

            $items.first().addClass('active');
        }

        function updateProgress() {
            var now = Date.now();
            var diff = now - start;
            var percent = diff * 100 / 4000;

            if (percent < 0) percent = 0;
            else if (percent > 100) percent = 100;

            $progressText.text(Math.ceil(percent) + '%');
        }

        function onActivated() {
            startAnimation();
            stageTimer = setTimeout(moveNext, 4500);
        }

        function onInactivated() {
            resetAnimation();
            clearTimeout(stageTimer);
        }

        $progress.on('activated', onActivated);
        $progress.on('inactivated', onInactivated);
    })();

    $(function(){
        $('section.surveys form').on('submit', function(e){
            e.preventDefault();
        });
    });
    $('#btn-suggest').on('click', function(e){
        var email = $('section.submit-stage input[type="email"]').val();

        if (email) {
            var courseName = suggestCourse();
            var body = {
                'email': email
            }

            Tracker.profile({
                "$email": email,
            });

            $.ajax({
                url: "/surveys",
                type: "POST",
                data: body,
                success: function(data) {
                    console.log("!");
                }
            })

            e.originalEvent.currentTarget.href = "/suggestions/" + courseName;
        } else {
            e.preventDefault();
            alert("이메일 주소를 정확히 입력해주세요!");
        }
    });

          
        });

        $(function(){
          Tracker.init();

          
    Tracker.event("dsschool_SurveyPage1");
    var next = document.querySelector("#container-main > div:nth-child(3) > form > main > section > table > tbody > tr:nth-child(1) > td > section > div.buttons > button.next");
    next.on('click', function() {
        console.log("clicked");
    })

    $('.stage .next').on('click', function() {
        var prevStage = $(this).parents('.stage');
        var stage = prevStage.next();
        console.log('clickec');
        var stageName = stage.data('stage-name');

        switch(stageName) {
            case "progress":
                Tracker.event("dsschool_SurveyComplete");
                break;
            case "submit":
                break
            default:
                var questionId = stageName.replace("question-", "");
                var eventName = "dsschool_SurveyPage" + questionId;

                Tracker.event(eventName);
        }
    })

    $('a#btn-suggest').on('click', function(){
        Tracker.event("dsschool_CTA_EmailSubmit");
    });

        });
      </script>

      <!-- Start Channel Plugin Scripts -->
      <script type="text/javascript">
        $(document).on('turbolinks:load', function() {
          ;window.channelPluginSettings = {
            "pluginKey": "9f139d08-a998-4970-9a44-1e4b7376a6b5"
          };
          (function() {
            var w = window;
            var d = window.document;
            var ch = function() {
              ch.c(arguments);
            };
            ch.q = [];
            ch.c = function(args) {
              ch.q.push(args);
            };
            w.ChannelIO = ch;
            function l() {
              var s = document.createElement('script');
              s.type = 'text/javascript';
              s.async = true;
              s.src = 'https://cdn.channel.io/plugin/ch-plugin-web.js';
              s.charset = 'UTF-8';
              var x = document.getElementsByTagName('script')[0];
              x.parentNode.insertBefore(s, x);
            }
            if (document.readyState === 'complete') {
              l();
            } else if (window.attachEvent) {
              window.attachEvent('onload', l);
            } else {
              window.addEventListener('DOMContentLoaded', l, false);
              window.addEventListener('load', l, false);
            }
          })();
        });
      </script>