:root {
  --gugu-orange: rgb(249, 161, 27);
  --gugu-gray: rgb(82, 97, 106);
  --gugu-lightorange: rgb(255, 233, 220);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: rgb(249, 161, 27);
}

.gugubanner {
  color: white;
}

.top {
  position: fixed;
  top: 0;
  text-align: center;
}

#bannerlogo {
  height: auto;
  width: 15%;
}

.bottom {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: white;
  border-top: 1px solid lightgray;
  height: 57px;
  padding-bottom: 3px;
}


#serviceall,
#mypage,
#home {
  width: 27px;
  height: auto;
  -webkit-filter: opacity(0.3) drop-shadow(0 0 0 white);
  filter: opacity(0.3) drop-shadow(0 0 0 white);
}

#serviceall {
  -webkit-filter: opacity(0.5) drop-shadow(0 0 0 #808080);
  filter: opacity(0.5) drop-shadow(0 0 0 #808080);
}

.icons {
  width: 20%;
  font-size: 0.7rem;
  text-align: center;
  font-weight: 400;
  color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: gray;
}

.category {
  position: fixed;
  top: 50px;
  display: flex;
  background: white;
  justify-content: space-evenly;
  align-items: center;
  height: 55px;
  width: 100%;
  /* margin-bottom : 3%; */
  /* border: red 0.5px solid; */
}

.category_btn {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: center;
  height: 65%;
  width: 18%;
  /* border: red 0.5px solid; */
}

.btn_default {
  display: flex;
  width: 80%;
  height: 3px;
}

.btn_chosen {
  display: flex;
  width: 70%;
  height: 3px;
  background-color: var(--gugu-orange);
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 32%;
  margin-bottom: 80px;
  margin-left: 5%;
  margin-right: 5%;
}

.service {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  flex-direction: row;
  /* width: 100%;
  height: 5rem; */
  margin-bottom: 2%;
  /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
  /* border: gray 0.5px solid; */
  /* color: white;
  background-color: whitesmoke; */
  line-height: 170%;
}

.banner_img {
  object-fit: cover;
  width: 100%;
  height: auto;
  /* box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.13), 1px 1px 2px rgba(0, 0, 0, 0.1); */
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.07), 1px 1px 2px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  /* height: 5rem; */
}
